body {
  font-size: 18px;
}

h1, p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 10%;
}

/* set the cursor to pointer */
.pointer {
  cursor: pointer;
}

.center {
  width: 60%;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#start-page {
  width: 90%;
  max-width: 570px;
  text-align: center;
}

#start-page h1 {
  margin-bottom: 15px;
  font-size: 35px;
}

#start-page p {
  margin-bottom: 25px;
}

#start-page button {
  border: 1px solid #000;
  background-color: none;
  padding: 10px 20px;
  font-size: 18px;
  outline: none;
}

#start-page button:hover {
  background-color: #000;
  color: #fff;
}


#question-page {
  width: 80%;
  max-width: 700px;
  text-align: center;
  display: none;
}

#question-title {
  margin-bottom: 25px;
}

#questions-container {
  padding: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style-type: none;
}

#questions-container li {
  background-color: #000;
  color: #fff;
  padding: 7px 15px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

#questions-container li:hover {
  background-color: #465c66;
}


@media screen and (max-width:780px) {
  #questions-container {
    flex-direction: column;
    width: 30%;
    margin: auto;
  }

  #questions-container li {
    margin-top: 10px;
  }
}

@media screen and (min-width:780px) {
}
